  <div class="container">
  <div class= "col-lg-6">
    <form action='/<%= idea.id %>' method='POST'>
      <p>
        <% if idea.id %>
          <h2 class="form-signin-heading">Edit your idea.</h2>
        <% else %>
          Your Idea:
        <% end %>
      </p>
    <% if idea.id %>
      <input type="hidden" name="_method" value="PUT" />
    <% end %>
      <input class= "form-control" placeholder= "title" type='text' name='idea[title]' value="<%= idea.title %>"/><br/>
      <textarea class= "form-control" placeholder= "description" name='idea[description]'><%= idea.description %></textarea><br/>
      <input class= "btn btn-lg btn-primary btn-block" type='submit'/>
    </form>
  </div>
</div>
