.container
  .col-md-3
  .col-md-6
    %form{action: "/#{idea.id}", method: "POST"}
      %p
        - if idea.id
          %h2 Edit your idea.
        - else
          %h2 Your Idea
      - if idea.id
        %input{name: "_method", type: "hidden", value: "PUT"}
      .form-group
        %input.form-control{name: "idea[title]", placeholder: "Title", type: "text", value: idea.title}/
      .form-group
        %textarea.form-control{name: "idea[description]", placeholder: "Description"}= idea.description
      %input.btn.btn-lg.btn-primary.btn-block{type: "submit"}
  .col-md-3
