<div class="container">

  <div class= "form-group">
      <form action='/' method='POST' class="form-signin" role="form">
        <h1 class="form-signin-heading">Feeling Inspired?</h1>
        <h4> Add your latest and greatest ideas here.</h4>
      <input type='text' name='idea[title]' class= "form-control" placeholder= "title"/><br/>
      <textarea name='idea[description]'class= "form-control" placeholder= "description"></textarea><br/>
      <input class= "btn btn-lg btn-primary btn-block" type='submit'/>
    </form>
  </div>
</div>
