.container
  .col-md-3
  .col-md-6
    %h1 Feeling Inspired?
    %h4 Add your latest and greatest ideas here.
    %form{action: "/", method: "POST", role: "form"}
      .form-group
        %input.form-control{name: "idea[title]", placeholder: "Title", type: "text"}
      .form-group
        %textarea.form-control{name: "idea[description]", placeholder: "Description"}
    %input.btn.btn-primary{type: "submit"}
  .col-md-3
