%html
  %head
    %link{href: "//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css", rel: "stylesheet"}
    %title IdeaBox
  %body
    .container
      = haml :navbar
      = yield
  %script{src: "https//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"}
  %script{src: "//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"}
