.container-fluid
  .navbar-header
    %button.navbar-toggle{"data-target" => ".navbar-collapse", "data-toggle" => "collapse", type: "button"}
      %span.sr-only Toggle navigation
      %span.icon-bar
      %span.icon-bar
      %span.icon-bar
  %ul.nav.nav-pills
    %li
      %a{href: "/"} IdeaBox
    %li
      %a{href: "/existing"} Dashboard
