<div class="container-fluid">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
  </div>
  <ul class="nav nav-pills">
    <li><a href="/">IdeaBox</a></li>
    <li><a href="/existing">Dashboard</a></li>
  </ul>
</div>
